body {
    font-family: 'poppins', sans-serif;
    background-image: image-set(
        url(./../img/Background-Image.jpg) 1x,
        url(./../img/Background-Image@2x.jpg) 2x,
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 100vh;


    padding: 0 15px;
    margin: auto;
}